In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("/Users/lukasscholz/repositorys/studienprojekt/counterfactuals/data/train_length_of_stay_prediction.csv")
test_df = pd.read_csv("/Users/lukasscholz/repositorys/studienprojekt/counterfactuals/data/test_length_of_stay_prediction.csv")

In [3]:
train_df.head()

,age,max_hours,vent,vaso,adenosine,dobutamine,dopamine,epinephrine,isuprel,milrinone,...,ethnicity_PATIENT DECLINED TO ANSWER,ethnicity_PORTUGUESE,ethnicity_SOUTH AMERICAN,ethnicity_UNABLE TO OBTAIN,ethnicity_UNKNOWN/NOT SPECIFIED,ethnicity_WHITE,ethnicity_WHITE - BRAZILIAN,ethnicity_WHITE - EASTERN EUROPEAN,ethnicity_WHITE - OTHER EUROPEAN,ethnicity_WHITE - RUSSIAN
0,66.112090,144,0.731034,0.144828,0.0,0.0,0.144828,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,72.193272,40,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
2,57.683548,50,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68.082450,71,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,68.529185,22,0.217391,0.043478,0.0,0.0,0.000000,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0

In [4]:
test_df.head()

,age,max_hours,vent,vaso,adenosine,dobutamine,dopamine,epinephrine,isuprel,milrinone,...,ethnicity_PATIENT DECLINED TO ANSWER,ethnicity_PORTUGUESE,ethnicity_SOUTH AMERICAN,ethnicity_UNABLE TO OBTAIN,ethnicity_UNKNOWN/NOT SPECIFIED,ethnicity_WHITE,ethnicity_WHITE - BRAZILIAN,ethnicity_WHITE - EASTERN EUROPEAN,ethnicity_WHITE - OTHER EUROPEAN,ethnicity_WHITE - RUSSIAN
0,34.306214,33,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
1,81.679571,142,0.258741,0.412587,0.0,0.0,0.0,0.000000,0.0,0.412587,...,0,0,0,0,0,1,0,0,0,0
2,64.764470,21,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0,0,0,0,0,1,0,0,0,0
3,60.791514,19,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0,0,0,0,1,0,0,0,0,0
4,59.861642,42,0.000000,0.953488,0.0,0.0,0.0,0.069767,0.0,0.000000,...,0,0,0,1,0,0,0,0,0,0

In [8]:
train_df_cleaned = train_df[["age", "max_hours"]]
train_df_cleaned.head()

         age  max_hours
0  66.112090        144
1  72.193272         40
2  57.683548         50
3  68.082450         71
4  68.529185         22

In [9]:
test_df_cleaned = test_df[["age", "max_hours"]]
test_df_cleaned.head()

         age  max_hours
0  34.306214         33
1  81.679571        142
2  64.764470         21
3  60.791514         19
4  59.861642         42

In [13]:
train_df_cleaned = train_df[train_df.columns.drop(list(train_df.filter(regex='ethnicity')))]
train_df_cleaned.head()

,age,max_hours,vent,vaso,adenosine,dobutamine,dopamine,epinephrine,isuprel,milrinone,norepinephrine,phenylephrine,vasopressin,colloid_bolus,crystalloid_bolus,nivdurations,gender_F,gender_M
0,66.112090,144,0.731034,0.144828,0.0,0.0,0.144828,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.048276,0.248276,0,1
1,72.193272,40,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.024390,0.512195,0,1
2,57.683548,50,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.058824,0.000000,0,1
3,68.082450,71,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,1,0
4,68.529185,22,0.217391,0.043478,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.043478,0.0,0.0,0.130435,0.043478,1,0

In [14]:
test_df_cleaned = test_df[test_df.columns.drop(list(test_df.filter(regex='ethnicity')))]
test_df_cleaned.head()

,age,max_hours,vent,vaso,adenosine,dobutamine,dopamine,epinephrine,isuprel,milrinone,norepinephrine,phenylephrine,vasopressin,colloid_bolus,crystalloid_bolus,nivdurations,gender_F,gender_M
0,34.306214,33,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.941176,0,1
1,81.679571,142,0.258741,0.412587,0.0,0.0,0.0,0.000000,0.0,0.412587,0.000000,0.209790,0.000000,0.013986,0.020979,0.566434,1,0
2,64.764470,21,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.909091,0,1
3,60.791514,19,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.650000,0,1
4,59.861642,42,0.000000,0.953488,0.0,0.0,0.0,0.069767,0.0,0.000000,0.953488,0.744186,0.953488,0.000000,0.046512,0.000000,1,0

In [10]:
len(train_df_cleaned.columns)

2

In [11]:
train_df_cleaned.to_csv("./../data/train_los_cleaned.csv", index=False)
test_df_cleaned.to_csv("./../data/test_los_cleaned.csv", index=False)